/productfeeds-donotdelete
/seamless-demo
/facebook-feeds
/facebook
/attribImport
/lp
/sucuri-backups

/*.sql
/*.zip
/*.gz
/.htaccess
/app/etc/local.xml
/var/
/media/
/media
/sitemaps/
/sitemap/
/sitemap.xml
/feeds/
/feed/
/error_log
/BK
/wp-config.php
/wp-content/uploads/
/wp-content/cache/
/wp-content/w3tc-config/
/wp
/blog/
/tmp/
/core