





/* ============================================ *
 * Nav Primary
 * ============================================ */

$nav-primary-height: 40px;

#header-nav {
    background-color: $main-color;
    margin: 20px 0;

    #nav {
        /*display: none;*/
        padding: 0 15px;

        .menu-icon {
            height: 40px;
            width: 100%;
            line-height: 40px;
            text-transform: uppercase;
            color: #ffffff;
            /*font-family: $f-myriadpro-regular;*/
            margin-bottom: 0;
            font-weight: bold;

            .animated-icon {
                display: inline-block;
                cursor: pointer;
                float: right;
                margin-right: 2%;
            }

            .bar1, .bar2, .bar3 {
                width: 35px;
                height: 5px;
                background-color: #ffffff;
                margin: 6px 0;
                transition: 0.4s;
            }

            .change .bar1 {
                -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
                transform: rotate(-45deg) translate(-9px, 6px) ;
            }

            .change .bar2 {opacity: 0;}

            .change .bar3 {
                -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
                transform: rotate(45deg) translate(-8px, -8px) ;
            }

        }

        .nav-primary {
            display: none;
            ul {
                display: none;
            }
            li {
                position: relative;
                border-top: 1px solid $c-white;
                a {
                    text-decoration: none;
                    position: relative;
                    display: block;
                    color: $c-white;
                    line-height: $nav-primary-height;
                    font-family: $f-stack-default;
                    font-weight: bold;

                    &.level0 {
                        text-transform: uppercase;
                    }

                    &.level1 {
                        padding-left: 1rem;
                    }
                }
                .btn-submenu {
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-family: 'FontAwesome';
                    font-size: 1rem;
                    line-height: 40px;
                    text-align: center;
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                }

                .btn-submenu:before {
                    content: "\f067";
                    color: #ffffff;
                }

                .btn-submenu.active:before {
                    content: "\f068";
                }

            }

        }
    }
}

//-----------------------------------------------

@include bp('min-width', $bp-large+1) {
    #header-nav {
        background: none;
        margin: 0;
        margin-top: 26px;

        #nav {
            padding: 0;

            .menu-icon {
                display: none;
            }

            .nav-primary {
                display: inline-block;

                li {
                    display: inline-block;
                    border: none;
                    margin-right: 32px;

                    &:first-child {
                        margin-left: 73px;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        a {
                            color: $main-color;
                        }
                    }

                    a {
                        color: $c-text;
                        font-weight: normal;
                        height: 60px;
                        line-height: 69px;
                    }

                    &.parent {

                        ul {
                            position: absolute;
                            background: $main-color;
                            z-index: 9999;
                            width: -moz-max-content;
                            width: max-content;
                            min-width: 182px;

                            li {
                                margin: 0;
                                display: block;
                                border-top: 1px solid #007fbf;
                                background: url('../images/circle.png') no-repeat 12px 50%;
                                transition: all 0.5s 0s;

                                &:first-child {
                                    border-top: none;
                                }

                                &:hover {
                                    padding-left: 10px;
                                    background: url('../images/circle_black.png') no-repeat 22px 50%;
                                    a {
                                        color: $c-text;
                                    }
                                }

                                a {
                                    padding: 0;
                                    color: $c-white;
                                    height: 30px;
                                    line-height: 30px;
                                    padding-left: 26px;
                                    padding-right: 26px;
                                    font-size: 0.75rem;
                                }
                            }
                        }

                        &:hover {
                            background: url(../images/arrow_selected.png) no-repeat scroll 50% 100%;
                            ul {
                                display: block;

                            }
                        }
                    }
                }

                .btn-submenu {
                    display: none;
                }
            }
        }
    }
}

