
/* ============================================ *
 * Header
 * ============================================ */

#header {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 22px;
}

/* ============================================ *
 * Language switcher + currency switcher
 * ============================================ */

.header-language-container {

    margin-left: auto;
    margin-right: auto;
    float: left;
    padding-left: 2%;

    &:after {
        @include clearfix;
    }

    .currency-switcher {
        float: left;
        margin-right: $gap;
    }

    .store-language-container {
        float: left;
        margin-right: 7px;
        /*margin-left:74px;*/
    }
    label {
        font-family: $f-stack-default;
        font-size: 0.75rem;
        font-weight: normal;
        display: none;
    }
    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        background: url('../images/select-box-bg2.png') no-repeat 82.22% 50%;

        border: 1px solid #cacaca;
        padding: 4px;
        padding-right: 20px;
        font-size: 0.75rem;
    }
}

// ---------------------------------------------

@include bp('min-width', $bp-small + 1) {
    .header-language-container {
        padding-left: 0;
        .store-language-container {
            margin-left: 54px;
        }

        label {
            display: inline-block;
        }

    }
}

/* ============================================ *
 * Logo
 * ============================================ */
#logo {
    margin-top: 26px;

    .logo-wrapper {
        display: block;
        margin: 0 auto;
        width: 235px;
        height: 69px;
        text-align: center;
        background-color: black;
        @include border-top-right-radius(15% 50%);
        @include border-bottom-right-radius(15% 50%);

        &:after {
            @include clearfix;
        }

        img {
            max-width: 100%;
            float: left;
            display: block;
            margin: 7px 6px 6px 12px;
        }

        span {
            display: block;
            font-family: $f-myriadpro-bold-cond;
            font-weight: normal;
            font-size: 2.1875rem;
            color: $main-color;
            float: left;
            margin-top: 10px;

            &.white {
                color: white;
            }
        }
    }
}

/* ============================================ *
 * Skip Content
 * ============================================ */

.skip-content {
    display: none;
}

.skip-content.skip-active {
    display: block;
}

/* ============================================ *
 * Header Right
 * ============================================ */

#header-right {
    float: right;
    margin-top: 22px;
    &:after {
        @include clearfix;
    }

    .header-tools {
        @include clearfix;
        line-height: 32px;
        width: 100%;
    }

    .account-cart-wrapper {
        float: right;
        margin-right: 2%;
    }
}

//-----------------------------------------------
@include bp('min-width', $bp-small+1) {
    #header-right {
        .account-cart-wrapper {
            margin-right: 0;
        }
    }
}